<!DOCTYPE html>
<html>
<head>
  <title>Grid Page</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
    <% for (let i = 0; i < 9; i++) { %>
      <div class="item">Item <%= i + 1 %></div>
    <% } %>
  </div>
</body>
</html>